<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aviso</title>
  </head>
  <body>
    <header>
        Aviso de Invasão
    </header>
    <main>
        <h1>
            Aviso de Invasão
        </h1>
        <p>
            Foi detectado um invasão de um veiculo não autorizado nos corais!
        </p>
    </main>
  </body>
</html>
